# Data types and structures

**Data types and structures questions**

1. What are data stuctures, and why they are important?

Ans ->

Data structures are specialized formats to store and organize data efficiently, such as lists, tuples, sets, and dictionaries in Python.
They are important because they:

Allow efficient data access and modification.

Support code readability and maintainability.

Help solve problems in optimized ways (e.g., searching, sorting)

2. Explain the difference between mutable and immutable data types with example.

In [2]:
#Mutable types can be changed after creation. Example: list, dict, set
lst = [1, 2, 3]
lst[0] = 10  # List is mutable

#Immutable types cannot be changed after creation. Example: int, str, tuple
s = "hello"
# s[0] = "H" → Error, strings are immutable

3. What are the main difference between lists and tuples in pythan?

Ans ->

| Feature     | List         | Tuple       |
| ----------- | ------------ | ----------- |
| Mutability  | Mutable      | Immutable   |
| Syntax      | `[1, 2, 3]`  | `(1, 2, 3)` |
| Performance | Slower       | Faster      |
| Use case    | Dynamic data | Static data |

4. Describe how dictionaires store data?

In [3]:
#Dictionaries store data as key-value pairs in a hash table. Each key is hashed to a unique index, allowing fast retrieval of values.
student = {"name": "Dhiraj", "age": 25}

5. Why might you use a set instead of a list in pythan?

In [4]:
#Sets are used when uniqueness is required; they automatically remove duplicates.

#Faster membership testing than lists.
s = set([1, 2, 2, 3])  # {1, 2, 3}

6. What is string in pythan, and how is it different from a list?

In [ ]:
#A string is an immutable sequence of characters.

#A list is a mutable sequence of any data types.

s = "abc"       # Immutable, only characters
l = ['a', 1, 3]  # Mutable, mixed types

7. How do tuples ensure data integrity in pythan?

Ans ->

Since tuples are immutable, their data cannot be modified after creation. This protects the data from accidental changes, ensuring integrity in scenarios like:

Keys in a dictionary

Fixed configuration values

8. What is a hash table, how does it relate to dictionaries in pythan?

Ans ->

A hash table is a data structure that maps keys to values using a hash function.
Python's dict uses a hash table internally to enable fast lookup, insertion, and deletion based on unique keys.

9. Can list contain different data types in pythan?

In [5]:
#Yes, lists are heterogeneous and can contain mixed data types:

data = [1, "hello", 3.14, True]

10. Explain why string are immutable in pythan?

Ans ->

Strings are immutable for:

Memory efficiency: Multiple references can point to the same string.

Security: Prevents unintentional modifications.

Hashability: Allows use as dictionary keys.

11. What advantages do dictionaires offer over lists for certain tasks?

Ans ->

Dictionaries are ideal when:

Data is keyed (e.g., name → value).

Fast lookups are needed.

Example: Accessing dict["name"] is faster than searching a list for a value.

12. Describe a scenario where using a tuple would be prefareble over a list.

In [6]:
"""Use a tuple when:

You want to store constant data, like coordinates (x, y).

You need an immutable key in a dictionary:"""

locations = {(10, 20): "Home", (50, 60): "Office"}

13. How do sets handle duplicate values in pythan?

In [17]:
#Sets automatically remove duplicate values. When duplicate elements are added to a set, only one instance is kept.

s = set([1, 2, 2, 3, 3])
print(s)  #

{1, 2, 3}

14. How does the "in" keyword work differntly for lists and dictionaires?

In [8]:
#In lists: Checks if the element exists in the list.

3 in [1, 2, 3]  # True


#In dictionaries: Checks if the key exists in the dictionary.

'name' in {"name": "Dhiraj"}  # True
'Dhiraj' in {"name": "Dhiraj"}  # False

False

15. Can you modify the elements of a tuple? Explain why and why not.

In [11]:
#No, tuples are immutable. Once created, their elements cannot be changed.


t = (1, 2, 3)
# t[0] = 5  → Error: 'tuple' object does not support item assignment

16. What is nested dictionary, and give an example of its use case?

In [13]:
#A nested dictionary is a dictionary where values are also dictionaries. It allows hierarchical or grouped data.
#Example use case:

students = {
    "101": {"name": "Dhiraj", "age": 21},
    "102": {"name": "Priya", "age": 22}
}

17. Describe the time complexity of accessing elements in a dictionary.

Ans ->

Average-case time complexity:

O(1) (constant time) for accessing, inserting, or deleting by key due to the hash table implementation.
Worst-case (rare): O(n) if many hash collisions occur.

18. In what situations are lists preferred over dictionaires?

Ans ->

Use lists when:

Order of elements matters.

Data is not associated with unique keys.

You need indexed access by position.

Example: storing student scores: [89, 92, 78]

19. Why are dictionaires considered unorderd, and how does that affect data retrival?

Ans ->

Prior to Python 3.7, dictionaries were unordered, meaning the order of key-value pairs wasn’t guaranteed.
Since Python 3.7+, insertion order is preserved, but:

They are still key-based, not index-based.

You can't access items by position like in lists.

This affects retrieval because you access data by key, not by index.

20. Explain the difference between a list and a dictionary in terns of data retrival.

In [15]:
#List: Data is retrieved by index (numeric position).

my_list = [10, 20, 30]
print(my_list[1])

20

In [16]:
#Dictionary: Data is retrieved by key (named identifier).

my_dict = {"a": 10, "b": 20}
print(my_dict["b"])

20

Summary:

Lists = ordered, index-based

Dictionaries = unordered (pre-3.7), key-based



---

# ***Practical Questions*** ▶



---

:

1. Write a code to create a string with your name and print it

In [20]:
name = "Dhiraj"
print(name)

Dhiraj

2. Write a code to find the length of the string "Hello World".

In [22]:
p = "Hello world"
print(len(p))

11

3. Write a code to slice the first 3 characters from the string "Python Programming

In [23]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [24]:
text = "hello"
print(text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [25]:
fruit = "I like apple"
print(fruit.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [26]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list (1, 2, 3, 4).

In [27]:
code = [1, 2, 3, 4]
code.append(10)
print(code)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list (1, 2, 3, 4, 5)

In [28]:
code = [1, 2, 3, 4, 5]
code.remove(3)
print(code)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [29]:
code = ['a', 'b', 'c', 'd']
print(code[1])

b

10. Write a code to reverse the list (10, 20, 30, 40, 50).

In [31]:
list1 = (10,20,30,40,50)
reversed_list1 = tuple(reversed(list1))
print(reversed_list1)

(50, 40, 30, 20, 10)

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [32]:
s = (100, 200, 300)
print(s)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [33]:
s = ('red', 'green', 'blue', 'yellow')
print(s[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [34]:
s = (10, 20, 5, 15)
print(min(s))

5


14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [35]:
s = ('dog', 'cat', 'rabbit')
print(s.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [36]:
p = ("apple", "banana", "orange")
print("kiwi" in p)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [37]:
p = {'a', 'b', 'c'}
print(p)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set (1, 2, 3,4,5).

In [38]:
p = {1, 2, 3, 4, 5}
p.clear()
print(p)

set()


18. Write a code to remove the element 4 from the set (1, 2, 3, 4).

In [39]:
p = {1, 2, 3, 4}
p.remove(4)
print(p)

{1, 2, 3}


19. Write a code to find the union of two sets (1, 2, 3) and (3, 4, 5).

In [40]:
s = {1, 2, 3}
s1 = {3, 4, 5}
print(s.union(s1))

{1, 2, 3, 4, 5}


20. Write a code to find the intersection of two sets (1, 2, 3) and (2, 3, 4).

In [41]:
p = {1, 2, 3}
p1 = {2, 3, 4}
print(p.intersection(p1))

{2, 3}

21. Write a code to create a dictionary with the keys 'name", "age", and "city", and print it.

In [42]:
p = {'name': 'Dhiraj', 'age': 21, 'city': 'Mumbai'}
print(p)

{'name': 'Dhiraj', 'age': 21, 'city': 'Mumbai'}

22. Write a code to add a new key-value pair "country" "USA" to the dictionary ['name': John', 'age: 25].

In [43]:
p = {'name': 'John', 'age': 25}
p['country'] = 'USA'
print(p)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key 'name' in the dictionary ('name': 'Alice', 'age': 30).

In [44]:
s = {'name': 'Alice', 'age': 30}
print(s['name'])

Alice

24. Write a code to remove the key "age" from the dictionary ('name': 'Bob', 'age': 22, 'city: New York').

In [45]:
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']
print(a)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary ['name': 'Alice', 'city: Paris'].

In [46]:
a = {'name': 'Alice', 'city': 'Paris'}
print('city' in a)

True


26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
a = [1, 2, 3]
b = (4, 5, 6)
c = {'name': 'Dhiraj', 'age': 21}
print(a)
print(b)
print(c)

[1, 2, 3]
(4, 5, 6)
{'name': 'Dhiraj', 'age': 21}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [48]:
a = [1, 2, 3, 4, 5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

28. Write a code to create a list with strings and print the element at the third index

In [49]:
a = ['a', 'b', 'c', 'd', 'e']
print(a[3])

d

29. Write a code to combine two dictionaries into one and print the result.

In [50]:
a = {'name': 'Dhiraj', 'age': 21}
b = {'city': 'Mumbai', 'country': 'India'}
a.update(b)
print(a)

{'name': 'Dhiraj', 'age': 21, 'city': 'Mumbai', 'country': 'India'}

30. Write a code to convert a list of strings into a set

In [51]:
fruits = ["apple", "banana", "apple", "cherry"]
unique_fruits = set(fruits)
print(unique_fruits)

{'cherry', 'banana', 'apple'}